* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* body {
   
    font-family: sans-serif; */
}
.menu-bar {
    background-color:black ;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
    

}
.menu-bar ul li {
    width: 200px;
    margin: 15px;
    padding: 15px;
    
}
.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar .spe li:hover {
    background-color: rgb(245,126,62);
    border-radius: 3px;
} 

.sub-menu-1 {
    display: none;
} 

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: black;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid white;
    background-color: transparent;
    border-radius: 0px;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: rgb(245,126,62);
}






























